
@import '../variables.scss';

// Blockquotes

blockquote {
    border-left: 3px solid $base-color;
  font-size: 20px;
}

.blockquote-simple {
    border: 0 none !important;
}
.blockquote-fancy,
.blockquote-color,
.blockquote-dark {
    border: 0 none !important;
}
.blockquote-color {
    background-color: $base-color;
    small {
        color: $white;
    }
}
.blockquote-fancy {
	&::before {
		color: rgba(0, 0, 0, 0.04);
        content: '"';
        display: block;
        font-size: 100px;
        left: 4px;
        position: absolute;
        top: 14px;
        font-family: Arial;
	}
	> small {
		float: right;
	}
}
.blockquote-dark {
    background-color: #333;
}
.blockquote-color,
.blockquote-dark {
    padding: 28px;
    color: $white;
}