/* ----------------------------------------------------------------------
	Buttons
-------------------------------------------------------------------------*/

@import '../variables.scss';
//Default base button
.btn {
    border-radius: 3px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    outline: none;
    padding: 12px 20px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    background-color: $base-color;
    border-color: $base-color;
    border-width: 1px;
    border-style: solid;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 6px;
    outline: none;
    line-height: 14px;
    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    &:not(.btn-outline):not(.btn-light) {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
    & i {
        text-shadow: none;
        margin-right: 6px;
    }
    &.btn-xs {
        font-size: 11px;
        height: 28px;
        line-height: 28px;
        padding: 0 14px;
    }
    &.btn-sm {
        font-size: 12px;
        height: 36px;
        line-height: 33px;
        padding: 0 18px;
    }
    &.btn-lg {
        font-size: 14px;
height: 62px;
letter-spacing: 2px;
line-height: 60px;
padding: 0 45px;
    }
    //Outline button
    &.btn-outline {
        background-color: transparent;
        border-width: 2px;
        border-style: solid;
        border-color: $base-color;
        color: $base-color;
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: $base-color;
            border-width: 2px;
            border-style: solid;
            border-color: $base-color;
            color: #fff;
        }
    }
    //Rounded button
    &.btn-rounded {
        border-radius: 2em ! important;
    }
    //Rounded button
    &.btn-block {
        width: 100%;
        display: block;
    }
    //Light button
    &.btn-light {
        background-color: #ffffff;
        border-color: #ebebeb;
        color: #4c5667;
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: $base-color;
            border-color: $base-color;
            color: #fff;
        }
        &.btn-outline {
            border-color: #ffffff;
            background-color: transparent;
            color: #ffffff;
            &:hover,
            &:focus,
            &:active,
            &.active {
                background-color: #ffffff;
                color: #4c5667;
            }
        }
        &.btn-light-hover {
            &:hover,
            &:focus,
            &:active,
            &.active {
                background-color: #ffffff;
                border-color: #ebebeb;
                color: #4c5667;
            }
        }
    }
    //Dark button
    &.btn-dark {
        background-color: #111111;
        border-color: #111111;
        color: #ffffff;
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: $base-color;
            border-color: $base-color;
            color: #fff;
        }
        &.btn-outline {
            background-color: transparent;
            color: #111111;
            &:hover,
            &:focus,
            &:active,
            &.active {
                background-color: #111111;
                border-color: #111111;
                color: #ffffff;
            }
        }
    }
    //Hover statement
    &:hover,
    &:focus,
    &:active,
    &.active {
        outline: 0 !important;
        background-color: darken( $base-color, 10%);
        border-color: darken( $base-color, 10%);
        color: #fff;
    }
    &.btn-primary {
        background-color: $primary-color;
        border-color: $primary-color;
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: darken( $primary-color, 10%);
            border-color: darken( $primary-color, 10%);
            color: #fff;
        }
    }
    &.btn-success {
        background-color: $success-color;
        border-color: $success-color;
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: darken( $success-color, 10%);
            border-color: darken( $success-color, 10%);
            color: #fff;
        }
    }
    &.btn-info {
        background-color: $info-color;
        border-color: $info-color;
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: darken( $info-color, 10%);
            border-color: darken( $info-color, 10%);
            color: #fff;
        }
    }
    &.btn-warning {
        background-color: $warning-color;
        border-color: $warning-color;
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: darken( $warning-color, 10%);
            border-color: darken( $warning-color, 10%);
            color: #fff;
        }
    }
    &.btn-danger {
        background-color: $danger-color;
        border-color: $danger-color;
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: darken( $danger-color, 10%);
            border-color: darken( $danger-color, 10%);
            color: #fff;
        }
    }
    &.btn-red {
        background-color: #CA0027;
        border-color: #CA0027;
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: darken( #CA0027, 10%);
            border-color: darken( #CA0027, 10%);
            color: #fff;
        }
    }
    //Sliding buttons
    &.btn-slide {
        border-radius: 50px;
        display: table-cell;
        font-weight: 400;
        opacity: 1;
        overflow: hidden;
        padding: 22px;
        position: relative;
        transition: width 0.4s ease 0s, background 0.4s ease 0s;
        width: 46px;
        & > i {
            float: left;
            left: 17px;
            position: absolute;
            top: 17px;
            transition: all 0.8s ease 0s;
        }
        & > span {
            left: 40px;
            position: absolute;
            text-align: left;
            top: 13px;
            transition: left 0.5s ease 0s, opacity 0.5s ease 0s;
            white-space: nowrap;
            opacity: 0;
        }
        &:hover {
            width: 140px;
            text-align: left;
            > i {
                transform: rotate(360deg);
            }
            > span {
                opacity: 1;
            }
        }
        &.btn-xs {
            padding: 14px;
            width: 30px;
            > i {
                left: 10px;
                top: 8px;
            }
            > span {
                left: 28px;
                top: 0px;
            }
            &:hover {
                width: 110px;
            }
        }
        &.btn-sm {
            padding: 18px;
            width: 36px;
            > i {
                left: 13px;
                top: 13px;
            }
            > span {
                left: 36px;
                top: 0px;
            }
            &:hover {
                width: 110px;
            }
        }
        &.btn-lg {
            padding: 30px;
            > i {
                left: 23px;
                top: 23px;
            }
            > span {
                left: 54px;
                top: 3px;
            }
            &:hover {
                width: 200px;
            }
        }
    }
    //Reval buttons
    &.btn-reveal {
        padding: 12px 34px;
        span {
            left: 0;
            position: relative;
            transition: opacity 0.2s ease-out 0s, left 0.2s ease-out 0s;
        }
        i {
            line-height: 18px;
            margin-top: -9px;
            opacity: 0;
            position: absolute;
            right: 28px;
            top: 50%;
            transition: all 0.2s ease-out 0s;
            width: 18px;
        }
        &:hover {
            span {
                left: -10px;
            }
            i {
                opacity: 1 !important;
                right: 18px;
            }
        }
        &.btn-xs {
            line-height: 2px;
        }
        &.btn-sm {
            line-height: 12px;
        }
        &.btn-lg {
            line-height: 26px;
        }
        &.btn-reveal-left {
            span {
                right: 0;
                left: auto;
                transition: opacity 0.2s ease-out 0s, right 0.2s ease-out 0s;
            }
            i {
                left: 28px;
                right: auto;
            }
            &:hover {
                span {
                    right: -10px;
                    left: auto;
                }
                i {
                    left: 18px;
                    right: auto;
                }
            }
        }
    }
    //Button shadows
    &.btn-shadow {
        -webkit-box-shadow: 0 4px 16px #efefef;
        -moz-box-shadow: 0 4px 16px #efefef;
        box-shadow: 0 4px 16px #efefef;
        &:hover {
            -webkit-box-shadow: 4px 8px 16px #dedede;
            -moz-box-shadow: 4px 8px 16px #dedede;
            box-shadow: 4px 8px 16px #dedede
        }
    }
    //Button icon holder
    &.btn-icon-holder {
        padding-right: 20px;
        &:before {
            border-left: 1px solid rgba(255, 255, 255, 0.2);
            content: "";
            height: 100%;
            position: absolute;
            right: 42px;
            top: 0;
        }
        &.btn-outline {
            &:before {
                border-left: 2px solid #1abc9c;
            }
            &.btn-dark:before {
                border-left: 2px solid #111;
            }
        }
        &.btn-light {
            &:before {
                border-left: 1px solid #f3f3f3;
            }
            &.btn-light-hover:before,
            &.btn-light-hover:hover {
                border-left: 1px solid #f3f3f3;
            }
        }
        i {
            margin-left: 30px;
            margin-right: -2px;
        }
        &.btn-xs {
            padding-right: 10px;
            &:before {
                right: 30px;
            }
            i {
                margin-left: 20px;
                margin-right: 2px;
            }
        }
        &.btn-sm {
            padding-right: 16px;
            &:before {
                right: 36px;
            }
            i {
                margin-left: 24px;
                margin-right: 0;
            }
        }
        &.btn-lg {
            padding-right: 28px;
            &:before {
                right: 50px;
            }
            i {
                margin-left: 34px;
                margin-right: -8px;
            }
        }
    }
    &.btn-creative {
padding: 24px 40px;
font-size: 15px;
font-weight: 600;

        &:before {
            right: 58px;
        }
        i {
            margin-left: 54px;
            margin-right: -16px;
        }
    }
    //Social buttons
    &.btn-facebook {
        background-color: #3b5998 ! important;
        color: #ffffff ! important;
        border-width: 0;
    }
    &.btn-twitter {
        background-color: #00aced ! important;
        color: #ffffff ! important;
        border-width: 0;
    }
    &.btn-linkedin {
        background-color: #007bb6 ! important;
        color: #ffffff ! important;
        border-width: 0;
    }
    &.btn-dribbble {
        background-color: #ea4c89 ! important;
        color: #ffffff ! important;
        border-width: 0;
    }
    &.btn-googleplus {
        background-color: #dd4b39 ! important;
        color: #ffffff ! important;
        border-width: 0;
    }
    &.btn-instagram {
        background-color: #517fa4 ! important;
        color: #ffffff ! important;
        border-width: 0;
    }
    &.btn-pinterest {
        background-color: #cb2027 ! important;
        color: #ffffff ! important;
        border-width: 0;
    }
    &.btn-dropbox {
        background-color: #007ee5 ! important;
        color: #ffffff ! important;
        border-width: 0;
    }
    &.btn-flickr {
        background-color: #ff0084 ! important;
        color: #ffffff ! important;
        border-width: 0;
    }
    &.btn-tumblr {
        background-color: #32506d ! important;
        color: #ffffff ! important;
        border-width: 0;
    }
    &.btn-skype {
        background-color: #00aff0 ! important;
        color: #ffffff ! important;
        border-width: 0;
    }
    &.btn-youtube {
        background-color: #bb0000 ! important;
        color: #ffffff ! important;
        border-width: 0;
    }
    &.btn-github {
        background-color: #171515 ! important;
        color: #ffffff ! important;
        border-width: 0;
    }
    +.btn {
        margin-left: 2px;
    }
}

@media (max-width:991px) {
    .btn {
        &.btn-reveal.btn-reveal-left {
            &:hover {
                span {left: auto; right: auto;}
                i {
                    display: none;
                }
            }
        }
    }
}



.dark #mainMenu:not(.light) {
        .btn-shadow {
        -webkit-box-shadow: 0 4px 16px #0d0606;
        -moz-box-shadow: 0 4px 16px #0d0606;
        box-shadow: 0 4px 16px #0d0606;
        &:hover {
            -webkit-box-shadow: 4px 8px 16px #1f1f1f;
            -moz-box-shadow: 4px 8px 16px #1f1f1f;
            box-shadow: 4px 8px 16px #1f1f1f;
        }
    }
}
