/* ----------------------------------------------------------------------
Forms
-------------------------------------------------------------------------*/

@import '../variables.scss';

form {
    .btn {
        padding: 11px 20px;
    }
}
.form-control {
    border-radius: 0;
    box-shadow: none;
    height: auto;
    line-height: 1.33333;
    padding: 8px 18px;
    border-radius: 4px;
    &:focus {
        box-shadow: none;
    }
    &.input-lg {
        resize: none;
        font-size: 0.9em;
    }
    &.rounded {
        border-radius: 4px;
    }
    border: 2px solid #ebebeb;
    margin-bottom: 6px;
}
.input-group-addon {
    border: 2px solid #ebebeb;
}
.form-group label {
    color: #444;
    cursor: pointer;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-size: 13px;
}
.form-inline button {
    margin: 0px;
}
.form-group > label {
    display: block;
}
.has-feedback label ~ .form-control-feedback {
    top: 44px;
}
.form-gray-fields .form-control {
    background-color: rgba($light, .6);
    border-color: transparent;
    color: #333;
    &:focus {
        background-color: #eee;
    }
}
.form-transparent-fields .form-control {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0.4);
    &:focus {
        background-color: rgba(0, 0, 0, 0.7);
    }
}
.form-transparent-light-fields .form-control {
    background-color: rgba(255, 255, 255, 0.06);
    border-color: rgba(255, 255, 255, 0.1);
    &:focus {
        background-color: rgba(255, 255, 255, 0.7);
    }
}
label.error {
    color: #b71828;
    display: none !important;
    font-weight: 400;
}
.form-control.error,
.sm-form-control.error {
    border-color: #b71828;
}
.form-control {
    &.error {
        color: #b71828;
    }
    &::-moz-placeholder,
    &::-ms-input-placeholder,
    &::-webkit-input-placeholder {
        color: #bbbbbb;
    }
}

/*form select*/

select {
    border: 2px solid #ebebeb;;
    color: #777;
    cursor: pointer;
    display: block;
    line-height: 1.33333;
    max-width: 100%;
    min-width: 100%;
    padding: 10px;
    border-radius: 4px;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
       background-image: url(../images/dropdown-arrow.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding: 6px 18px;
    color: #999;
}



select[multiple] {
    background-image: none;
}

.order-select {
    > h6 {
        margin-bottom: 0;
    }
    p {
        font-size: 13px;
    }
}
.button-search {
    background-color: #fff;
    border-color: #e9e9e9 #e9e9e9 #e9e9e9;
    border-style: solid;
    border-width: 1px 1px 1px 0 !important;
    box-shadow: none;
    margin-left: -6px !important;
    z-index: 2 !important;
}

/* ----------------------------------------------------------------------
 Reservation form
-------------------------------------------------------------------------*/

.reservation-form-over {
    top: -80px;
    z-index: 10;
    margin-bottom: -80px;
    overflow: inherit;
}
.reservation-form {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #eee;
    min-height: 160px;
    padding: 30px;
    position: relative;
    z-index: 9999 !important;
    label {
        color: #555;
    }
    input,
    select {
        border: 0px;
        border-radius: 4px;
        background-color: #fff;
        border: 2px solid #ddd;
        width: 100%;
    }
    .date input {
        border-radius: 4px 0 0 4px;
        border-width: 2px 0 2px 2px;
    }
    .input-group-addon {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #fff !important;
        border-color: #ddd;
        border-image: none;
        border-style: solid;
        border-width: 2px 2px 2px 0;
    }
    input,
    select {
        color: #555;
        display: block;
        font-size: 15px;
        line-height: 1.42857;
        padding: 8px 14px;
        width: 100%;
    }
}

/*reservation form style 2*/

#book {
    background-color: rgba(0, 0, 0, 0.4);
    border: 10px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    padding: 40px;
    label {
        color: #fff;
    }
    .date input {
        border-radius: 4px 0 0 4px;
    }
    input,
    select {
        color: #555;
        display: block;
        font-size: 15px;
        line-height: 1.42857;
        padding: 8px 14px;
        width: 100%;
    }
    .input-group-addon {
        background-color: #fff !important;
        border: 0 none;
    }
    input,
    select {
        border: 0 none;
    }
}

/*checkboxes*/

.checkbox.checkbox-creative {
    margin-top: 0;
    label {
        cursor: pointer;
        padding-right: 10px;
        padding-left: 0;
        margin-top: 0 !important;
        
    }
    input[type="checkbox"] {
        height: 0;
        left: 0;
        margin: 0;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        width: 0;
        z-index: -1;
    }
    .checkbox-item {
        position: relative;
        top: 3px;
        vertical-align: middle;
        .check {
            border: 2px solid #e6e6e6;
            border-radius: 2px;
            display: inline-block;
            height: 17px;
            overflow: hidden;
            position: relative;
            width: 17px;
            z-index: 1;
            &:before {
                box-shadow: 0 0 0 0px, 0 0 0 0px, 0 0 0 0px, 0 0 0 0px, 0 0 0 0px, 0 0 0 0px, 0 0 0 0 inset;
                content: "";
                display: block;
                height: 0;
                margin-left: 4px;
                margin-top: -6px;
                position: absolute;
                transform: rotate(45deg);
                width: 0;
            }
        }
    }
    input[type="checkbox"]:focus + .checkbox-item .check::after {
        opacity: 0.2;
    }
    input[type="checkbox"]:focus:checked + .checkbox-item .check::before {
        animation: 0.3s ease 0s normal forwards 1 running checkbox-on;
    }
    input[type="checkbox"]:checked + .checkbox-item .check {
        border-color: #009688;
        color: #009688;
    }
    input[type="checkbox"]:checked + .checkbox-item .check::before {
        box-shadow: 0 0 0 11px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
        color: #009688;
    }
}

@keyframes checkbox-on {
    0% {
        box-shadow: 0 0 0 11px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
    }
    50% {
        box-shadow: 0 0 0 11px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
    }
    100% {
        box-shadow: 0 0 0 11px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    }
}
@keyframes checkbox-off {
    0% {
        box-shadow: 0 0 0 11px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }
    50% {
        box-shadow: 0 0 0 11px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
        height: 0;
        margin-left: 4px;
        margin-top: -6px;
        transform: rotate(45deg);
        width: 0;
    }
    100% {
        box-shadow: 0 0 0 0px, 0 0 0 0px, 0 0 0 0px, 0 0 0 0px, 0 0 0 0px, 0 0 0 0px, 0 0 0 0 inset;
        height: 17px;
        margin-left: -2px;
        margin-top: -2px;
        transform: rotate(0deg);
        width: 17px;
    }
}
