/* ----------------------------------------------------------------------
	Lists & Bullet Lists
-------------------------------------------------------------------------*/

@import '../variables.scss';


.list {
    clear: both;
    display: block;
    position: relative;
}
.list-lines,
.icon-list,
.list-simple, 
.list-posts, 
.list ul {
    padding: 0px;
}
.list,
.list-lines,
.icon-list,
.list-simple,
.list-posts,
.list-tweets li {
    list-style: none;
}
.icon-list li,
.list-arrow-icons li,
.list-tweets li {
    padding-left: 0px;
}

.list-medium li {
    margin: 12px 0;
}
.list-large li {
    margin: 18px 0;
}
.list-large li:first-child,
.list-medium li:first-child {
    margin-top: 0;
}
.list-large li:last-child,
.list-medium li:last-child {
    margin-bottom: 0;
}
.list-posts small {
    display: block;
    font-style: italic;
    opacity: 0.7;
}


.list-lines {
    list-style: none;
    li {
        border-bottom: 1px solid #ddd;
        padding: 10px 0 10px 2px;
        &:last-child {
            border-bottom: 0px;
        }
    }
}


.list-icon {
    list-style: none;
    padding-left: 0;
    ul {
        list-style: none;
    }
    ul {
        padding: 0;
    }
    li {
        margin-bottom: 10px;
        margin-left: 20px;
    }
    i {
        font-size: 15px;
        margin-right: 14px;
        margin-left: -20px;
    }
    &.icon-list-colored li:before,
    &.icon-list-colored i {
        color: $base-color;
    }
    li:before {
        margin-left: -20px;
        position: absolute;
        font-family: fontawesome;
        font-size: 15px;
    }
    &.list-icon-arrow li:before {
        content: "\f105";
        margin-left: -16px;
    }
    &.list-icon-arrow-circle li:before {
        content: "\f18e";
    }
    &.list-icon-check li:before {
        content: "\f00c";
    }
    &.list-icon-caret li:before {
        content: "\f0da";
    }
    &.list-icon-uncheck li:before {
        content: "\f05c";
    }
    &.list-icon-plus li:before {
        content: "\f055";
    }
    &.list-icon-info li:before {
        content: "\f05a";
    }
    &.list-icon-circle li:before {
        content: "\f10c";
    }
}

/*.icon-list-colored li:before,
.icon-list-colored i {
    color: $base-color;
}

.icon-list-arrow .icon-list-arrow-circle li:before {
    margin-left: -18px;
    position: absolute;
    font-family: fontawesome;
    content: "\f18e";
}
*/
