
/* ----------------------------------------------------------------
    Maps
-----------------------------------------------------------------*/
.map {
  width: 100%;
  height: 370px;
  min-height: 100%;
}

